.events-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.events-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.events-image > img {
  width: 25em;
  height: 20rem;
  object-fit: cover;
}
