@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
.events-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  padding: 0 1rem;
}

.datestamp {
  padding: 0 1rem;
}

.datestamp .date {
  font-size: 4rem;
  line-height: 5.6rem;
  font-weight: bolder;
}

.datestamp .month,
.datestamp .day {
  font-size: 2.5rem;
  line-height: 4.2rem;
}

.events-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
  padding: 0 1.5rem;
}

.events-text .title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.8rem;
}

.events-text .description {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.events-text .event-text__location {
  margin: 1rem 0;
}

.events-text .icons {
  color: #9ca0a5;
  vertical-align: bottom;
  margin: 0 0.5rem;
}

.events-text a {
  position: relative;
  display: inline-block;
  text-align: center;
  background: #9ca0a5;
  color: white;
  padding: 1rem 1rem;
  margin-top: 3rem;
  width: 10rem;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.events-text a::before {
  display: block;
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 99%, 0 0);
          clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 99%, 0 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.events-text a:hover::before {
  width: 100%;
}

.events-image > img {
  width: 20em;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 680px) {
  .events-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .events-card > div {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .events-card .events-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .events-card .datestamp {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .events-card .datestamp div {
    margin: 0 0.5rem;
    font-size: 1.6rem;
  }
  .events-card .events-text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 0 1.5rem;
  }
  .events-card .events-text a {
    display: block;
    margin: 2rem auto auto auto;
  }
}
/*# sourceMappingURL=eventsCard.css.map */