//imports

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//variable declarations
//colors
$primary: #E0E1DD;
$secondary: #0D1B2A;
$tertiary:#778DA9;
$dark:#1f1f1f;

//fonts
$main-font: 'Roboto';